.cloud-hero{
    background-image: url("/assets/cloud_hero.png")!important;
}

.content-hero{
    background-image: url("/assets/content_hero.png")!important;
}

.logistics-hero{
    background-image: url("/assets/logistics_hero.png")!important;
}


.industrial-hero{
    background-image: url("/assets/industrial_hero.png")!important;
}
.communication-hero{
    background-image: url("/assets/communication_hero.png")!important;
}

.cybersecurity-hero{
    background-image: url("/assets/cybersecurity_hero.png")!important;
}


.enterprise-hero{
    background-image: url("/assets/enterprise_hero.png")!important;
}

.engineering-hero{
    background-image: url("/assets/engineering_hero.png")!important;
}


.talent-hero{
    background-image: url("/assets/talent_hero.png")!important;
}


.web3-hero{
    background-image: url("/assets/web3_hero.png")!important;
}


.finance-hero{
    background-image: url("/assets/finance_hero.png")!important;
}


.transformation-hero{
    background-image: url("/assets/transformation_hero.png")!important;
}

.health-hero{
    background-image: url("/assets/health_hero.png")!important;
}
.legal-hero{
    background-image: url("/assets/legal_hero.png")!important;
}
.banking-hero{
    background-image: url("/assets/banking_hero.png")!important;
}

.sports-hero{
    background-image: url("/assets/sports_hero.png")!important;
}


.partners .item-wrap .item{
   background-color:#202020!important;
   
   height: 50vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;
   gap: 15%;
   color: white;

}

#logo-mobile{
   
    width: 62px!important;
    height: 62px!important;
}
